@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

body {
    margin: 0px 30px 0px 30px;
    padding: 0;
}

.facts {
    display: flex;
    background-color: rgb(37, 37, 37);
    color: rgb(254, 181, 0);
    padding: 30px 80px;
    justify-content : space-around;
    text-align: center;
   
    margin-top: 200px;
    margin-bottom: 70px;
}

.number {
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin: 15px;
}

.facts-class {
    border-bottom: 1px solid rgb(227, 227, 227);
}

