h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
}

p, span, div, nav, ul, li, a, article, section {
    font-family: Helvetica, sans-serif;
}


body {
    margin: 220px;
    padding: 0;
    overflow: hidden;
}


/* SLOGAN */
.slogan h1{
    font-size: 65px;
    margin-bottom: 0;
}

.slogan p {
    color: rgb(110, 109, 128);
    font-size: 22px;
}


/* PRESENTATION */
.presentation {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.border {
    border-bottom: 1px solid rgb(110, 109, 128);
    width: 40%;
    margin: 0 auto;
    margin-top: 100px;
}

.presentation-btn {
    width: 50%;
}

.presentation-btn button{
    background-color: rgb(3, 168, 124);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    padding: 15px 85px;
}

.presentation-text {
    width: 50%;
}

.presentation-text h3 {
    font-size: 22px;
}

.presentation span {
    color: rgb(110, 109, 128);
    font-size: 22px;

}