html {
    font-family: Helvetica, sans-serif;
    padding: 40px;             
}

/* body {
    max-width: 1100px;
    margin: 50px auto;              ili html {padding: 40px}
} */     

h1, nav {
    display: inline-block;
    margin-right: 100px;
}

nav ul li {
    display: inline-block;
    padding: 20px;
    
}

li a {
    text-decoration: none;
    color: rgb(119, 198, 137);

}

header {
    border-bottom: 2px solid black;
}