body {
    background-color: rgb(238, 238, 238);
}

.gallery {
    max-width: 1200px;
    margin: 0px auto;
}

li {
    border-width : 0.4rem;
    border-style: solid;
    border-color: black;
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
    margin: 15px;
    background-color: white;
    max-width: 305px;
}

li img {
    width: 100%;
}
