# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\enyan\PycharmProjects_Python_3_ADVANCED\EXAM PREPARATION\Exam Preparation - 17 February 2020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
